body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    color: black;

}

.title {
    color: gray;
}

.title_2 {
    color: darkgray;
}

.title_3 {
    color: black;
}


#id_1 {
    color: green;
}

#id_2 {
    color: green;
}

h4 {
    color: orange;
}

#id_3:hover {
    color: orange;
}

li:first-child {
    color: gray;
}

li:last-child {
    color: coral;
}

li:nth-child(2) {
    color: darkviolet;
}

#Google-link-a:link {
    color: pink;
}

#Google-link-a:visited {
    color: red;
}

textarea ~ button {
    color: brown
}

p[id=para_1] {
    color: darkcyan;
}

img[src*="https://avatars.githubusercontent.com"] {
    border: 5px solid black
}